body{background-image:url(3.png);
width:400px;
margin:0px;
}
#header {background-image:url(7.png);
background-repeat:no repeat;
position:absolute;
width:960px;
left:182.5px;
height:75px;

}
#featured {
position:absolute;
width:960px;
left:352.5px;
height:285px;
top:75px;
}
#content{background-image:url(bdbg.png);
background-repeat:no repeat;
position:absolute;
left:182.5px;
width:962px;
height:1347px;
top:355px;
}
p{font-family:calibri;
color:#F5E3B4;
word-spacing:34px;
font-size:15px;
}
h1{font-family:Californian FB;
color:#F5E3B4;
}
#a{position:relative;
left:183px;
top:-102px;
}
#b{position:relative;
left:161px;
top:-59px;
}
#c{position:relative;
left:24px;
top:-8px;
}
#d{position:relative;
width:20px;
height:28px;
left:695px;
top:-140px;
}
#e{position:relative;
width:108px;
height:28px;
top:-171px;
left:826px;
}
#f{position:relative;
left:389px;
top:10px;
}
#g{position:relative;
left:20px;
top:48px;
}
.photo {float:left;


margin-right:10px;
}
#h{position:relative;
left:50px;
top:27px;
}
h2{font-family:Myriad Pro;
font-weight:normal;
color:#F5E3B4;
}
#i{position:relative;
left:50px;
top:5px;
}

h3{font-size:15px;
font-family:Myriad Pro;
color:#F5E3B4;
font-weight:normal;
}
#j{width:474px;
position:relative;
left:463px;
top:-4px;
}
h4{font-size:13px;
font-weight:normal;
font-family:Myriad Pro;
line-height:13px;

color:#F5E3B4;
}
#k{position:relative;
left:7px;
top:20px;
}
#l{position:relative;
left:115px;
top:25px;
}
#m{position:relative;
left:426px;
top:-85px;
}
#n{position:relative;
left:736px;
top:-200px;
}
h5{font-size:20px;
font-weight:normal;
font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
word-spacing:242px;
}
#o{position:relative;
left:135px;
top:-220px;
}
h8{font-size:14px;
font-family: "Myriad Pro";
font-weight:normal;
color:#7b7a6d;
}
#p{position:relative;
left:70px;
top:-250px;
}

#q{position:relative;
left:383px;
top:-365px;
}
#r{position:relative;
left:693px;
top:-483px;
}
#s{position:relative;
top:-500px;
left:130px;
}
h6{
word-spacing:220px;
}
h7{color:#8F4523;
font-size:20px;
font-family:"Myriad Pro";
font-weight:600;
}
#u{position:relative;
top:-210px;
left:13px;
}
#t{position:relative;
top:-200px;
left:20px;
}
#v{position:relative;
top:-415px;
left:285px;
}
#w{position:relative;
top:-530px;
left:442px;
}
#x{position:relative;
top:-720px;
left:500px;
}
h9{color:#8F4523;
font-size:20px;
font-family:"Myriad Pro";
font-weight:900;
}
#y{position:relative;
top:-710px;
left:460px;
}
#z{position:relative;
top:-846px;
left:661px;
}
#ab{position:relative;
top:-772px;
left:462px;
}
#bc{position:relative;
top:-807px;
left:559px;
}
#cd{position:relative;
top:-814px;
left:929px;
}
#de{position:relative;
top:-760px;
left:20px;
}
#ef{position:relative;
top:-775px;
left:10px;
}
#fg{position:relative;
top:-780px;
left:10px;
}
#gh{position:relative;
top:-910px;
left:337px;
}
#hi{position:relative;
top:-1100px;
left:570px;
}
h12{font-size:15px;
font-family: "Myriad Pro";
font-weight:normal;
color:#4f504b;
line-height:200%;
}
#ij{position:relative;
top:-1370px;
left:800px;
}
h13{font-size:13px;
font-family: "Myriad Pro";
font-weight:normal;
color:#725142;
}
#jk{position:relative;
top:-1440px;
left:20px;
}






