h1{
color: black;
  font-size:20px;
  padding-left:10px;
  padding-right:10px;
  border: 2px solid black;
  background: #33ff66;
  background: linear-gradient(to bottom, #33ff66 0%,#009900 100%);
  display:inline-block;
  border-radius: 10px;

}
body{
background-color:#000000;
}
#menu{
top:-10px;
left:400px;
}
a:link{text-decoration:none;
color:black;
}
a:hover{font-weight:bold;
color:#009900;
}